.main-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #bb9a74;
  padding: 1rem;
  scroll-margin-top: 80px;
  box-sizing: border-box;
}

/* Main content container */
.main-container {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.reverse {
  flex-direction: row-reverse;
}

/* Image container styling */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

div.text-box {
  padding: 20px;
  border: #5e360b solid 2px;
}

.text-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  background-color: #84643d;
  border-radius: 10px;
}

.custom-main-image {
  width: 20rem; /* Smaller default size */
  height: 20rem;
  margin: 1rem;
  object-fit: cover;
  border-radius: 0.5rem;
  border: #5e360b solid 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
}

.custom-main-image:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

@media (max-width: 768px) {
  .row,
  .reverse {
    flex-direction: column;
    text-align: center;
  }

  .custom-main-image {
    max-width: 10rem;
    max-height: 10rem;
  }

  img.custom-img {
    max-width: 9rem;
  }

  .text-box {
    width: 300px;
    padding: 0px 0px 40px 0px;
  }

  div.text-box {
    padding: 10px;
  }
}
