/* Shared sidebar base */
.sidebar {
  z-index: 10;
}

/* Remove bullet defaults */
.no-default-style {
  list-style: none;
  margin-top: 10px;
  margin-right: 400px;
  padding: 0;
}

/* Timeline item and dot */
.timeline-item {
  position: relative;
  list-style: none;
  transition: transform 0.3s ease;
}

.timeline-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.timeline-dot {
  display: block;
  width: 30px;
  height: 30px;
  background: #5e360b;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.timeline-item.active .timeline-dot {
  background-color: white;
  border: 2px solid #5e360b;
  transform: scale(1.4);
  box-shadow: 0 0 10px #84643d88;
}

.timeline-date {
  position: absolute;
  color: whitesmoke;
  text-align: right;
  width: 140px;
  top: 0px;
}

/* Desktop + tablet (vertical left sidebar) */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 25%;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    padding-left: 1.75rem;
    gap: 4.5rem;
    width: max-content;
  }

  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.72rem;
    width: 2px;
    background-color: #2d1e2f;
  }

  .scroll-container {
    overflow-y: auto;
    max-height: 500px;
    padding-right: 2rem;
    position: relative;
  }

  .scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

/* Mobile (horizontal bottom) */
@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.19);

    display: flex;
    justify-content: center;
    overflow-x: auto;
  }

  .timeline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    margin: 5px 0px 5px 10px;
    position: relative;
    width: max-content;
  }

  .timeline::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #2d1e2f;
    transform: translateY(-50%);
  }

  .timeline-date {
    transform: rotate(30deg);
    transform-origin: top left;
    top: 40px;
    left: 10px;
    font-size: 0.7rem;
    white-space: nowrap;
  }

  .timeline-dot {
    width: 15px;
    height: 15px;
  }

  .timeline-item.active .timeline-dot {
    background-color: white;
    border: 2px solid #84643d;
    transform: scale(1.2);
    box-shadow: 0 0 10px #84643d88;
  }

  .scroll-container {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
